In [5]:
# data_path = '/Users/parkchungho/Desktop/23-2/Big Data Capstone Design 1/관련자료/'
! pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 3.6 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [28]:
import pandas as pd

In [29]:
df = pd.read_excel('물류창고정보_위치기반_231124.xls')
df = df.drop(['Unnamed: 5','Unnamed: 7'], axis=1)
col_name = list(df.iloc[1,:])
col_name[0:3] = df.columns[0:3]
df.columns = col_name
df = df.iloc[2:,].reset_index().drop(['index'], axis=1)
df = df.drop(['동수'], axis=1)

In [30]:
df.head()

,상호명,성명,소재지,일반창고,냉동냉장,항만창고,보세창고,보관저장업,냉동냉장,축산물보관,냉동냉장
0,삼성전자로지텍,최수영,강원특별자치도 원주시 문막읍 반계리 1093번지 1호,4039,0,0,0,0,0,0,0
1,삼성전자로지텍㈜,최수영,세종특별자치시 부강면 갈산리 470번지 2호,8264.5,0,0,0,0,0,0,0
2,씨제이대한통운㈜ 남강원지사,강신호,강원특별자치도 원주시 흥업면 사제리 1339번지 1호,2430.08,0,0,0,0,0,0,0
3,주식회사 엘엑스판토스,최원혁,강원특별자치도 원주시 문막읍 동화리 608번지 42호,2953,0,0,0,0,0,0,0
4,씨제이대한통운 주식회사,강신호,강원특별자치도 원주시 호저면 주산리 275번지,2764,0,0,0,0,0,0,0

In [31]:
import urllib.request
import urllib.parse
import json
from tqdm import tqdm_notebook

In [32]:
vworld_key='82165070-4BB7-3196-88C8-EABFD5069A9C'

In [33]:
# 경북 지역 창고, 울릉도 제외
gb_df = df[df['소재지'].str.contains('경상북도|대구광역')]
gb_df = gb_df[~gb_df['소재지'].str.contains('울릉')].reset_index().drop(['index'], axis=1)
gb_df

,상호명,성명,소재지,일반창고,냉동냉장,항만창고,보세창고,보관저장업,냉동냉장,축산물보관,냉동냉장
0,경동물류(주),백영길,경상북도 칠곡군 연화리 700번지 영남종합물류 화물취급장 사동,3644,0,0,0,0,0,0,0
1,합동물류(주),백영창,경상북도 칠곡군 지천면 연화리 700번지 영남복합물류 사동,1797,0,0,0,0,0,0,0
2,씨제이대한통운(주),강신호,경상북도 칠곡군 가산면 다부리 445번지,3495,0,0,0,0,0,0,0
3,롯데하이마트(주),남창희,경상북도 칠곡군 왜관읍 금산리 390번지 외 1필지,11364,0,0,0,0,0,0,0
4,씨제이대한통운(주),강신호,대구광역시 달서구 장동 306번지 111호,2049.44,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
317,(주)한익스프레스경북센터,유인철 외 1명,경상북도 칠곡군 지천면 금호로1길 2-13,0,0,0,0,0,234,0,0
318,에이스후레쉬(주) 칠곡,전윤석,경상북도 칠곡군 지천면 산단터널로 240,0,0,0,0,0,1765,0,0
319,(주)한익스프레스칠곡센터,유인철 외 1명,경상북도 칠곡군 지천면 금호로 356,0,0,0,0,0,982.06,0,0
320,(주)포항국제물류센터 냉동창고,전성곤,경상북도 포항시 북구 흥해읍 영일만항로 236,0,0,0,0,0,6654.34,0,0
321,(주)세븐스타컴퍼니,김동진,경상북도 칠곡군 왜관읍 현대로 93,0,0,0,0,0,127.8,0,0

In [34]:
sum = gb_df.iloc[:,3:].sum(axis=1)
gb_df['창고규모 합(m²)'] = sum
gb_df

,상호명,성명,소재지,일반창고,냉동냉장,항만창고,보세창고,보관저장업,냉동냉장,축산물보관,냉동냉장,창고규모 합(m²)
0,경동물류(주),백영길,경상북도 칠곡군 연화리 700번지 영남종합물류 화물취급장 사동,3644,0,0,0,0,0,0,0,3644
1,합동물류(주),백영창,경상북도 칠곡군 지천면 연화리 700번지 영남복합물류 사동,1797,0,0,0,0,0,0,0,1797
2,씨제이대한통운(주),강신호,경상북도 칠곡군 가산면 다부리 445번지,3495,0,0,0,0,0,0,0,3495
3,롯데하이마트(주),남창희,경상북도 칠곡군 왜관읍 금산리 390번지 외 1필지,11364,0,0,0,0,0,0,0,11364
4,씨제이대한통운(주),강신호,대구광역시 달서구 장동 306번지 111호,2049.44,0,0,0,0,0,0,0,2049.44
...,...,...,...,...,...,...,...,...,...,...,...,...
317,(주)한익스프레스경북센터,유인철 외 1명,경상북도 칠곡군 지천면 금호로1길 2-13,0,0,0,0,0,234,0,0,234
318,에이스후레쉬(주) 칠곡,전윤석,경상북도 칠곡군 지천면 산단터널로 240,0,0,0,0,0,1765,0,0,1765
319,(주)한익스프레스칠곡센터,유인철 외 1명,경상북도 칠곡군 지천면 금호로 356,0,0,0,0,0,982.06,0,0,982.06
320,(주)포항국제물류센터 냉동창고,전성곤,경상북도 포항시 북구 흥해읍 영일만항로 236,0,0,0,0,0,6654.34,0,0,6654.34
321,(주)세븐스타컴퍼니,김동진,경상북도 칠곡군 왜관읍 현대로 93,0,0,0,0,0,127.8,0,0,127.8

In [35]:
# 도로명 주소
for i in tqdm_notebook(gb_df.index):
    req_url='http://api.vworld.kr/req/address?service=address&type=road&request=getCoord&key='+vworld_key+'&address='+urllib.parse.quote(gb_df.at[i,'소재지'])
    req=urllib.request.Request(req_url)
    try:
        response=urllib.request.urlopen(req)
        if response.getcode()==200:
            json_data=json.loads(response.read())

            gb_df.at[i,'경도']=json_data['response']['result']['point']['x']
            gb_df.at[i,'위도']=json_data['response']['result']['point']['y']
        else: # TIME-OUT 400, SERVER FAIL 500
            print('응답 없음: '+str(response.getcode()))
            break
    except Exception as e: # 에러 난 것은 원인만 프린트하고 건너뛰고 다음 데이터 처리할 때 
        print('Error:%s[%s]'%(e,gb_df.at[i,'상호명']))
    else:
        print(f"Index {i} not found in gb_df.")

/var/folders/hs/qj17fzlx2zb2j3vmw0stf78r0000gn/T/ipykernel_17897/3036348063.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(gb_df.index):

  0%|          | 0/322 [00:00<?, ?it/s]

Error:'result'[경동물류(주)]
Error:'result'[합동물류(주)]
Error:'result'[씨제이대한통운(주)]
Error:'result'[롯데하이마트(주)]
Error:'result'[씨제이대한통운(주)]
Error:'result'[(주)한진]
Error:'result'[(주)지오팜]
Error:'result'[(주)판토스]
Error:'result'[(주)영원무역]
Error:'result'[대산농협]
Index 10 not found in gb_df.
Error:'result'[김천유통영농조합법인]
Error:'result'[로젠(주)]
Error:'result'[건영화물(주)]
Error:'result'[물레방아(94호)]
Error:'result'[롯데글로벌로지스(주)]
Error:'result'[(주)코리아대동]
Index 17 not found in gb_df.
Error:'result'[씨제이대한통운(주)]
Error:'result'[한국농수산식품유통공사]
Error:'result'[씨제이대한통운(주)]
Error:'result'[동원로엑스(주)]
Error:'result'[(주)대한냉동]
Error:'result'[(주)한진]
Error:'result'[롯데글로벌로지스(주)]
Error:'result'[우보대창창고]
Error:'result'[진한종합물류(주)]
Index 27 not found in gb_df.
Index 28 not found in gb_df.
Index 29 not found in gb_df.
Index 30 not found in gb_df.
Index 31 not found in gb_df.
Index 32 not found in gb_df.
Error:'result'[씨제이대한통운]
Error:'result'[(주)세아엘앤에스]
Error:'result'[동원로엑스(주)]
Error:'result'[(주)삼일]
Error:'result'[(주)천일티엘에스]
Error:'result'[케이티링커스(주)]
Error:'result'[씨제이대한통운(주)]
Error:'result'[삼성전자로지텍(주)]
Error:'result'[한국파렛트풀㈜]
Error:'result'[세방(주)]
Index 43 not found in gb_df.
Error:'result'[한국로지스풀(주)]
Error:'result'[롯데글로벌로지스(주)]
Error:'result'[해동기업(주)]
Error:'result'[로젠(주)]
Error:'result'[(주)포스로]
Error:'result'[주식회사 삼손물류]
Index 50 not found in gb_df.
Error:'result'[(주)한진]
Index 52 not found in gb_df.
Error:'result'[주식회사 엠투엠에프지에스]
Error:'result'[(주)동방 포항지사]
Error:'result'[(주)천일티엘에스]
Error:'result'[(주)비지에프로지스 칠곡센터]
Error:'result'[롯데글로벌로지스(주)]
Error:'result'[오성기업]
Error:'result'[씨제이대한통운(주)]
Error:'result'[(주)협신로지스]
Error:'result'[세계로 물류]
Error:'result'[(주)서브원]
Error:'result'[(주)한진]
Error:'result'[주식회사 엘엑스판토스]
Error:'result'[SK네트웍스(주)]
Error:'result'[동원로엑스(주)]
Error:'result'[씨제이대한통운(주)포항지점]
Error:'result'[대상(주)]
Error:'result'[씨제이대한통운(주)]
Error:'result'[주식회사 지에스네트웍스(경산지점)]
Error:'result'[현대글로비스 주식회사]
Error:'result'[(주)대원지에스아이]
Error:'result'[(주)지에스네트웍스 칠곡지점]
Error:'result'[(주)동연특수]
Error:'result'[오뚜기물류서비스(주)]
Error:'result'[오뚜기물류서비스(주)]
Error:'result'[쿠팡로지스틱스서비스 유한회사]
Error:'result'[(주)케이비경산로지스틱스위탁관리부동산투자회사]
Error:'result'[씨제이대한통운(주)]
Error:'result'[농협경제지주 주식회사 마트사업경북지사]
Error:'result'[(주)제이엔엘네트웍스]
Error:'result'[두류종합물류창고]
Error:'result'[대원제이(주) 티피산단보세창고]
Error:'result'[대신정기화물자동차 (주)]
Error:'result'[매일유업주식회사 경산공장]
Error:'result'[한국로지스풀(주)]
Error:'result'[(주)삼일]
Error:'result'[쿠팡로지스틱스서비스 유한회사]
Error:'result'[쿠팡로지스틱스서비스 유한회사]
Error:'result'[윤우상창고]
Error:'result'[도청창고]
Error:'result'[(주)이디원]
Error:'result'[(주)에스피씨 지에프에스]
Error:'result'[아이씨로지스]
Error:'result'[쿠팡풀필먼트서비스 유한회사]
Error:'result'[쿠팡 풀필먼트서비스(유)]
Error:'result'[삼성전자로지텍(주)]
Error:'result'[(주)유진로지스틱스]
Error:'result'[(주)엘에스네트웍스]
Error:'result'[씨제이대한통운(주)]
Error:'result'[씨제이대한통운(주)]
Error:'result'[삼양로지스틱스]
Error:'result'[쿠팡로지스틱스서비스 유한회사]
Error:'result'[쿠팡로지스틱스 서비스]
Error:'result'[쿠팡로지스틱스서비스 유한회사]
Error:'result'[쿠팡로지스틱스서비스 유한회사]
Error:'result'[쿠팡로지스틱스서비스(유)]
Error:'result'[쿠팡 로지스틱스 서비스(유)]
Error:'result'[쿠팡 로지스틱스 서비스 유한회사]
Error:'result'[쿠팡로지스틱스서비스 유한회사]
Error:'result'[한창종합물류(주)]
Error:'result'[(주)케이에스로지스틱]
Error:'result'[(주)오브]
Index 114 not found in gb_df.
Index 115 not found in gb_df.
Index 116 not found in gb_df.
Index 117 not found in gb_df.
Error:'result'[구룡포수협 제빙냉동공장]
Index 119 not found in gb_df.
Index 120 not found in gb_df.
Index 121 not found in gb_df.
Index 122 not found in gb_df.
Index 123 not found in gb_df.
Index 124 not found in gb_df.
Index 125 not found in gb_df.
Error:'result'[삼가영]
Index 127 not found in gb_df.
Index 128 not found in gb_df.
Error:'result'[(주)황산인터내셔날]
Index 130 not found in gb_df.
Index 131 not found in gb_df.
Index 132 not found in gb_df.
Index 133 not found in gb_df.
Index 134 not found in gb_df.
Index 135 not found in gb_df.
Index 136 not found in gb_df.
Index 137 not found in gb_df.
Error:'result'[(주)동국식품]
Index 139 not found in gb_df.
Index 140 not found in gb_df.
Index 141 not found in gb_df.
Index 142 not found in gb_df.
Index 143 not found in gb_df.
Index 144 not found in gb_df.
Index 145 not found in gb_df.
Index 146 not found in gb_df.
Index 147 not found in gb_df.
Index 148 not found in gb_df.
Index 149 not found in gb_df.
Index 150 not found in gb_df.
Index 151 not found in gb_df.
Index 152 not found in gb_df.
Index 153 not found in gb_df.
Index 154 not found in gb_df.
Index 155 not found in gb_df.
Index 156 not found in gb_df.
Index 157 not found in gb_df.
Index 158 not found in gb_df.
Index 159 not found in gb_df.
Error:'result'[㈜한진]
Index 161 not found in gb_df.
Index 162 not found in gb_df.
Index 163 not found in gb_df.
Index 164 not found in gb_df.
Index 165 not found in gb_df.
Index 166 not found in gb_df.
Index 167 not found in gb_df.
Index 168 not found in gb_df.
Index 169 not found in gb_df.
Error:'result'[신영케미칼]
Index 171 not found in gb_df.
Index 172 not found in gb_df.
Error:'result'[(주)엑스엠보세창고]
Index 174 not found in gb_df.
Index 175 not found in gb_df.
Index 176 not found in gb_df.
Index 177 not found in gb_df.
Index 178 not found in gb_df.
Index 179 not found in gb_df.
Index 180 not found in gb_df.
Index 181 not found in gb_df.
Index 182 not found in gb_df.
Index 183 not found in gb_df.
Index 184 not found in gb_df.
Index 185 not found in gb_df.
Error:'result'[㈜ 대일씨엔에프]
Error:'result'[신주냉동]
Index 188 not found in gb_df.
Error:'result'[㈜ 정화식품 지점]
Index 190 not found in gb_df.
Index 191 not found in gb_df.
Index 192 not found in gb_df.
Index 193 not found in gb_df.
Index 194 not found in gb_df.
Index 195 not found in gb_df.
Error:'result'[한성수산식품㈜]
Index 197 not found in gb_df.
Index 198 not found in gb_df.
Index 199 not found in gb_df.
Index 200 not found in gb_df.
Index 201 not found in gb_df.
Index 202 not found in gb_df.
Index 203 not found in gb_df.
Index 204 not found in gb_df.
Index 205 not found in gb_df.
Index 206 not found in gb_df.
Index 207 not found in gb_df.
Index 208 not found in gb_df.
Index 209 not found in gb_df.
Index 210 not found in gb_df.
Index 211 not found in gb_df.
Index 212 not found in gb_df.
Index 213 not found in gb_df.
Index 214 not found in gb_df.
Index 215 not found in gb_df.
Index 216 not found in gb_df.
Index 217 not found in gb_df.
Index 218 not found in gb_df.
Index 219 not found in gb_df.
Index 220 not found in gb_df.
Index 221 not found in gb_df.
Index 222 not found in gb_df.
Index 223 not found in gb_df.
Index 224 not found in gb_df.
Error:'result'[동성냉동]
Index 226 not found in gb_df.
Index 227 not found in gb_df.
Index 228 not found in gb_df.
Error:'result'[포항시 영어조합법인]
Error:'result'[미보수산]
Error:'result'[해봉수산㈜]
Index 232 not found in gb_df.
Index 233 not found in gb_df.
Error:'result'[㈜ 부경]
Index 235 not found in gb_df.
Error:'result'[㈜ 청해원]
Index 237 not found in gb_df.
Index 238 not found in gb_df.
Index 239 not found in gb_df.
Index 240 not found in gb_df.
Error:'result'[보정식품]
Error:'result'[(주) 정화식품상사]
Index 243 not found in gb_df.
Index 244 not found in gb_df.
Index 245 not found in gb_df.
Index 246 not found in gb_df.
Index 247 not found in gb_df.
Index 248 not found in gb_df.
Index 249 not found in gb_df.
Index 250 not found in gb_df.
Index 251 not found in gb_df.
Index 252 not found in gb_df.
Index 253 not found in gb_df.
Index 254 not found in gb_df.
Index 255 not found in gb_df.
Index 256 not found in gb_df.
Index 257 not found in gb_df.
Index 258 not found in gb_df.
Index 259 not found in gb_df.
Index 260 not found in gb_df.
Index 261 not found in gb_df.
Index 262 not found in gb_df.
Index 263 not found in gb_df.
Index 264 not found in gb_df.
Index 265 not found in gb_df.
Index 266 not found in gb_df.
Index 267 not found in gb_df.
Index 268 not found in gb_df.
Index 269 not found in gb_df.
Index 270 not found in gb_df.
Index 271 not found in gb_df.
Index 272 not found in gb_df.
Index 273 not found in gb_df.
Index 274 not found in gb_df.
Index 275 not found in gb_df.
Index 276 not found in gb_df.
Index 277 not found in gb_df.
Index 278 not found in gb_df.
Index 279 not found in gb_df.
Index 280 not found in gb_df.
Index 281 not found in gb_df.
Index 282 not found in gb_df.
Index 283 not found in gb_df.
Index 284 not found in gb_df.
Index 285 not found in gb_df.
Index 286 not found in gb_df.
Index 287 not found in gb_df.
Index 288 not found in gb_df.
Index 289 not found in gb_df.
Index 290 not found in gb_df.
Index 291 not found in gb_df.
Index 292 not found in gb_df.
Index 293 not found in gb_df.
Index 294 not found in gb_df.
Index 295 not found in gb_df.
Index 296 not found in gb_df.
Index 297 not found in gb_df.
Index 298 not found in gb_df.
Index 299 not found in gb_df.
Index 300 not found in gb_df.
Index 301 not found in gb_df.
Index 302 not found in gb_df.
Index 303 not found in gb_df.
Index 304 not found in gb_df.
Index 305 not found in gb_df.
Index 306 not found in gb_df.
Index 307 not found in gb_df.
Index 308 not found in gb_df.
Index 309 not found in gb_df.
Index 310 not found in gb_df.
Index 311 not found in gb_df.
Index 312 not found in gb_df.
Index 313 not found in gb_df.
Index 314 not found in gb_df.
Index 315 not found in gb_df.
Index 316 not found in gb_df.
Index 317 not found in gb_df.
Index 318 not found in gb_df.
Index 319 not found in gb_df.
Index 320 not found in gb_df.
Index 321 not found in gb_df.

In [36]:
# 지번 주소
for i in tqdm_notebook(gb_df.index):
    req_url='http://api.vworld.kr/req/address?service=address&type=parcel&request=getCoord&key='+vworld_key+'&address='+urllib.parse.quote(gb_df.at[i,'소재지'])
    req=urllib.request.Request(req_url)
    try:
        response=urllib.request.urlopen(req)
        if response.getcode()==200:
            json_data=json.loads(response.read())

            gb_df.at[i,'경도']=json_data['response']['result']['point']['x']
            gb_df.at[i,'위도']=json_data['response']['result']['point']['y']
        else: # TIME-OUT 400, SERVER FAIL 500
            print('응답 없음: '+str(response.getcode()))
            break
    except Exception as e: # 에러 난 것은 원인만 프린트하고 건너뛰고 다음 데이터 처리할 때 
        print('Error:%s[%s]'%(e,gb_df.at[i,'상호명']))
    else:
        print(f"Index {i} not found in gb_df.")

/var/folders/hs/qj17fzlx2zb2j3vmw0stf78r0000gn/T/ipykernel_17897/2983723874.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(gb_df.index):

  0%|          | 0/322 [00:00<?, ?it/s]

Index 0 not found in gb_df.
Index 1 not found in gb_df.
Index 2 not found in gb_df.
Index 3 not found in gb_df.
Index 4 not found in gb_df.
Index 5 not found in gb_df.
Index 6 not found in gb_df.
Error:'result'[(주)판토스]
Index 8 not found in gb_df.
Index 9 not found in gb_df.
Error:'result'[김천유통영농조합법인]
Index 11 not found in gb_df.
Index 12 not found in gb_df.
Index 13 not found in gb_df.
Index 14 not found in gb_df.
Index 15 not found in gb_df.
Index 16 not found in gb_df.
Index 17 not found in gb_df.
Index 18 not found in gb_df.
Index 19 not found in gb_df.
Error:'result'[씨제이대한통운(주)]
Index 21 not found in gb_df.
Index 22 not found in gb_df.
Index 23 not found in gb_df.
Index 24 not found in gb_df.
Index 25 not found in gb_df.
Error:'result'[진한종합물류(주)]
Index 27 not found in gb_df.
Error:'result'[(주)엘엑스판토스]
Error:'result'[어신창고]
Error:'result'[동광기업사]
Error:'result'[괴당창고]
Error:'result'[낙상창고]
Index 33 not found in gb_df.
Index 34 not found in gb_df.
Index 35 not found in gb_df.
Index 36 not found in gb_df.
Index 37 not found in gb_df.
Index 38 not found in gb_df.
Index 39 not found in gb_df.
Index 40 not found in gb_df.
Index 41 not found in gb_df.
Index 42 not found in gb_df.
Error:'result'[주식회사 비지에프로지스 대구]
Index 44 not found in gb_df.
Index 45 not found in gb_df.
Index 46 not found in gb_df.
Index 47 not found in gb_df.
Index 48 not found in gb_df.
Index 49 not found in gb_df.
Error:'result'[(주)CJ대한통운]
Index 51 not found in gb_df.
Index 52 not found in gb_df.
Index 53 not found in gb_df.
Index 54 not found in gb_df.
Index 55 not found in gb_df.
Index 56 not found in gb_df.
Index 57 not found in gb_df.
Index 58 not found in gb_df.
Error:'result'[씨제이대한통운(주)]
Index 60 not found in gb_df.
Index 61 not found in gb_df.
Index 62 not found in gb_df.
Index 63 not found in gb_df.
Index 64 not found in gb_df.
Index 65 not found in gb_df.
Index 66 not found in gb_df.
Index 67 not found in gb_df.
Index 68 not found in gb_df.
Index 69 not found in gb_df.
Index 70 not found in gb_df.
Index 71 not found in gb_df.
Index 72 not found in gb_df.
Index 73 not found in gb_df.
Index 74 not found in gb_df.
Index 75 not found in gb_df.
Index 76 not found in gb_df.
Index 77 not found in gb_df.
Index 78 not found in gb_df.
Index 79 not found in gb_df.
Index 80 not found in gb_df.
Index 81 not found in gb_df.
Index 82 not found in gb_df.
Index 83 not found in gb_df.
Index 84 not found in gb_df.
Index 85 not found in gb_df.
Error:'result'[한국로지스풀(주)]
Index 87 not found in gb_df.
Index 88 not found in gb_df.
Index 89 not found in gb_df.
Index 90 not found in gb_df.
Index 91 not found in gb_df.
Index 92 not found in gb_df.
Index 93 not found in gb_df.
Index 94 not found in gb_df.
Index 95 not found in gb_df.
Index 96 not found in gb_df.
Index 97 not found in gb_df.
Index 98 not found in gb_df.
Index 99 not found in gb_df.
Index 100 not found in gb_df.
Index 101 not found in gb_df.
Index 102 not found in gb_df.
Index 103 not found in gb_df.
Index 104 not found in gb_df.
Index 105 not found in gb_df.
Index 106 not found in gb_df.
Index 107 not found in gb_df.
Index 108 not found in gb_df.
Index 109 not found in gb_df.
Index 110 not found in gb_df.
Index 111 not found in gb_df.
Index 112 not found in gb_df.
Index 113 not found in gb_df.
Error:'result'[경주시수산업협동조합]
Error:'result'[포항수산업협동조합제빙공장]
Error:'result'[㈜연우]
Error:'result'[(주)미식수산]
Index 118 not found in gb_df.
Error:'result'[㈜동방]
Index 120 not found in gb_df.
Index 121 not found in gb_df.
Error:'result'[포항영일신항만㈜]
Error:'result'[㈜삼일]
Error:'result'[부강가쓰오]
Error:'result'[부강가쓰오]
Index 126 not found in gb_df.
Error:'result'[(주)바다마을]
Error:'result'[(주)목양에프원]
Error:'result'[(주)황산인터내셔날]
Error:'result'[㈜에스앤비인터내셔널]
Error:'result'[대왕수산]
Error:'result'[주신수산식품(주)]
Error:'result'[진우수산]
Error:'result'[㈜세동푸드]
Error:'result'[동명씨푸드(주)]
Error:'result'[포항구룡포과메기사업 협동조합]
Error:'result'[롯데제과(주)김천냉동보세창고]
Error:'result'[(주)동국식품]
Error:'result'[미드미에프에스]
Error:'result'[(주)미드미]
Error:'result'[농업회사법인 주식회사 달구지유통]
Error:'result'[주식회사 씨엔비]
Error:'result'[주식회사 정성을 담은]
Error:'result'[에그라이프]
Error:'result'[라라푸드]
Error:'result'[현대냉동]
Error:'result'[세진냉장]
Error:'result'[아이스홍시 청도영농조합]
Error:'result'[쿠팡신선대구4센터]
Error:'result'[쿠팡대구신선5센터]
Error:'result'[(주)제때]
Error:'result'[㈜피비엘]
Error:'result'[㈜포항복합물류센터]
Error:'result'[㈜엘리온종합물류]
Error:'result'[세방㈜]
Error:'result'[㈜삼일]
Index 157 not found in gb_df.
Error:'result'[㈜대우로지스틱스 포항지사]
Error:'result'[㈜포항국제물류센터냉동창고]
Index 160 not found in gb_df.
Error:'result'[이마트에브리데이 경산센터]
Error:'result'[창선물류(주)]
Error:'result'[나루 칠곡 물류창고]
Error:'result'[롯데제과(주)김천공장]
Error:'result'[이마트24 칠곡2 저온센터]
Error:'result'[주식회사 강구유통(영천지점)]
Error:'result'[㈜아스토대우로지스틱스]
Error:'result'[(주)엘엑스인터내셔널 구미 보세창고]
Error:'result'[(주)신양보세물류]
Error:'result'[신영케미칼]
Error:'result'[씨제이대한통운(주)경북국제보세창고]
Error:'result'[(주)케이씨티시  보세창고]
Error:'result'[(주)엑스엠보세창고]
Error:'result'[(주)국보보세창고]
Error:'result'[노벨리스코리아(주) 보세창고]
Error:'result'[원진실업(주)]
Error:'result'[세방(주)문덕보세창고]
Error:'result'[㈜영풍 석포제련소]
Error:'result'[미원홀딩스㈜ 칠곡
구.미원홀딩스㈜]
Error:'result'[㈜지엠머티리얼즈
구.㈜지엠텍 김천지점]
Error:'result'[(주)협진화학(칠곡)]
Error:'result'[(주)영남ICD삼화보세창고 대경지점]
Error:'result'[(주)에스앤비인터내셔널보세창고]
Error:'result'[케이이씨 디바이스 1공단 보세창고]
Error:'result'[대안냉동상사]
Index 186 not found in gb_df.
Index 187 not found in gb_df.
Error:'result'[삼홍실업(주)]
Error:'result'[㈜ 정화식품 지점]
Error:'result'[제이에이치화학공업(주)]
Error:'result'[에스케이스페셜티㈜ 제1공장,
구.에스케이머티리얼즈(주) 제1공장]
Error:'result'[SK실트론(주) 3공장]
Error:'result'[(주)경주냉장냉동]
Error:'result'[㈜참전유공자장애인회]
Error:'result'[명진식품]
Index 196 not found in gb_df.
Error:'result'[(주)비지에프로지스]
Error:'result'[(주)한익스프레스 경북센터]
Error:'result'[교촌에프앤비(주)]
Error:'result'[(주)상도에프엔엘]
Error:'result'[농업회사법인주식회사청명원]
Error:'result'[신도축산 영농조합법인]
Error:'result'[그린축산식품]
Error:'result'[씨제이대한통운(주)하양Smart sub]
Error:'result'[엑소후레쉬물류(주)]
Index 206 not found in gb_df.
Error:'result'[포항영일만항운영㈜]
Error:'result'[(주)티웨이항공 대구 보세창고]
Error:'result'[(주)대한항공 보세창고]
Index 210 not found in gb_df.
Error:'result'[삼화보세창고 성주]
Error:'result'[(주)코리아엠에스 자가용 보세창고]
Error:'result'[대한상선(주) 영업용 보세창고]
Error:'result'[크레텍책임(주) 공동보세창고]
Error:'result'[엘엑스판토스 구미 보세창고]
Error:'result'[도레이첨단소재(주) 4공장 보세창고]
Error:'result'[(주)대한냉동 보세창고]
Error:'result'[케이이씨디바이스 2공단 보세창고]
Error:'result'[이래에이엠에스(주) 보세창고]
Error:'result'[삼익THK(주)테크노폴리스공장 보세창고]
Error:'result'[삼성웰스토리(주)]
Error:'result'[(주)로한종합물류]
Error:'result'[선일터미널(주)영업용보세창고]
Error:'result'[영일만보세물류]
Error:'result'[동성냉동]
Error:'result'[영덕북부수협]
Error:'result'[디케이냉동산업]
Error:'result'[현대냉동]
Index 229 not found in gb_df.
Index 230 not found in gb_df.
Index 231 not found in gb_df.
Error:'result'[대건유통]
Error:'result'[㈜삼한냉동]
Error:'result'[㈜ 부경]
Error:'result'[대호수산]
Index 236 not found in gb_df.
Error:'result'[해전종합식품(주)]
Error:'result'[화성식품]
Error:'result'[세웅수산]
Error:'result'[㈜대성산업]
Index 241 not found in gb_df.
Index 242 not found in gb_df.
Error:'result'[MJ물류]
Error:'result'[주식회사 한익스프레스]
Error:'result'[농업회사법인 한우리(주)]
Error:'result'[(주)에스피씨지에프에스]
Error:'result'[경주시수산업협동조합]
Error:'result'[(주)푸드웰]
Index 249 not found in gb_df.
Error:'result'[(주)이마트 대구물류센터]
Error:'result'[(주)대한냉동]
Error:'result'[영농조합법인 나눔과섬김]
Error:'result'[동아냉동]
Error:'result'[엑소후레쉬물류(주)칠곡센터]
Error:'result'[(주)그린랜드]
Error:'result'[(주)비지에프로지스]
Error:'result'[(주)대창냉동]
Error:'result'[(주)하나로티앤에스]
Error:'result'[(주)빙그레]
Error:'result'[동원로엑스(주) 경산센터]
Error:'result'[(주)제때]
Error:'result'[삼성웰스토리(주)]
Error:'result'[호야푸드물류]
Error:'result'[(주)한익스프레스대구지점]
Error:'result'[(주)제때 경산지점]
Error:'result'[(주)아워홈]
Error:'result'[디케이푸드웰(주)]
Error:'result'[농업회사법인 주식회사조양에프엔지]
Error:'result'[포항축산농협 육가공공장]
Error:'result'[금성냉동(주)]
Error:'result'[(주)장보고식자재]
Error:'result'[(주)올품]
Error:'result'[오뚜기물류서비스(주)]
Error:'result'[(주)빙그레 포항영업소]
Error:'result'[동원로엑스(주)경산센터]
Error:'result'[주)동원웰푸드]
Error:'result'[그린냉동,냉장]
Error:'result'[황학산전통활성탄흑포크영농조합법인]
Error:'result'[(주)아워홈구미식품공장]
Error:'result'[디케이냉동산업(주)]
Error:'result'[(주)삼한냉동]
Error:'result'[(주)대창냉동]
Error:'result'[(주)이마트대구물류센터]
Error:'result'[(주)보담]
Error:'result'[주식회사 프레시원대구경북]
Error:'result'[(주)그린랜드]
Error:'result'[(주)축산랜드]
Error:'result'[(주)프랜푸드]
Error:'result'[영농조합법인 나눔과섬김]
Error:'result'[롯데제과 주식회사]
Error:'result'[(주)대한냉동]
Error:'result'[(주)하나로티앤에스]
Error:'result'[(주)지에스네트웍스 경산지점]
Error:'result'[(주)영일만보세물류]
Error:'result'[(주)상도에프엔엘]
Error:'result'[(주)드림로지스]
Error:'result'[이마트에브리데이 경산센터]
Error:'result'[동원홈푸드 대구영업소]
Error:'result'[창선물류]
Error:'result'[이마트24 칠곡2저온센터]
Error:'result'[주식회사 신선물류]
Error:'result'[주식회사 세븐스타컴퍼니]
Error:'result'[(주)제때]
Error:'result'[삼양사]
Error:'result'[안동봉화축협 하나로마트]
Error:'result'[(주)마하로지스]
Error:'result'[(주)상도에프엔엘]
Error:'result'[주식회사경대물산 그린냉동냉장]
Error:'result'[농업회사법인(주)고산들]
Error:'result'[농업회사법인(주)고산들 왜관지점]
Error:'result'[(주)신선물류]
Error:'result'[주식회사 멕시카나(영천지점)]
Error:'result'[씨제이대한통운주식회사]
Error:'result'[농업회사법인(주)키큰아이]
Error:'result'[(주)상도에프엔엘]
Error:'result'[금성냉동(주)]
Error:'result'[(주)한익스프레스경북센터]
Error:'result'[에이스후레쉬(주) 칠곡]
Error:'result'[(주)한익스프레스칠곡센터]
Error:'result'[(주)포항국제물류센터 냉동창고]
Error:'result'[(주)세븐스타컴퍼니]

In [37]:
gb_df = gb_df.dropna(subset =['경도']).reset_index().drop(['index'], axis=1)
gb_df

,상호명,성명,소재지,일반창고,냉동냉장,항만창고,보세창고,보관저장업,냉동냉장,축산물보관,냉동냉장,창고규모 합(m²),경도,위도
0,경동물류(주),백영길,경상북도 칠곡군 연화리 700번지 영남종합물류 화물취급장 사동,3644,0,0,0,0,0,0,0,3644,128.4506417514363,35.9574266732246
1,합동물류(주),백영창,경상북도 칠곡군 지천면 연화리 700번지 영남복합물류 사동,1797,0,0,0,0,0,0,0,1797,128.4506417514363,35.9574266732246
2,씨제이대한통운(주),강신호,경상북도 칠곡군 가산면 다부리 445번지,3495,0,0,0,0,0,0,0,3495,128.52059882662525,36.04410042357539
3,롯데하이마트(주),남창희,경상북도 칠곡군 왜관읍 금산리 390번지 외 1필지,11364,0,0,0,0,0,0,0,11364,128.41195160506015,35.96453644848856
4,씨제이대한통운(주),강신호,대구광역시 달서구 장동 306번지 111호,2049.44,0,0,0,0,0,0,0,2049.44,128.50732345455975,35.83934982008506
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,(주)한익스프레스경북센터,유인철 외 1명,경상북도 칠곡군 지천면 금호로1길 2-13,0,0,0,0,0,234,0,0,234,128.444990578,35.956688292
306,에이스후레쉬(주) 칠곡,전윤석,경상북도 칠곡군 지천면 산단터널로 240,0,0,0,0,0,1765,0,0,1765,128.442743994,35.954255266
307,(주)한익스프레스칠곡센터,유인철 외 1명,경상북도 칠곡군 지천면 금호로 356,0,0,0,0,0,982.06,0,0,982.06,128.449855727,35.961823064
308,(주)포항국제물류센터 냉동창고,전성곤,경상북도 포항시 북구 흥해읍 영일만항로 236,0,0,0,0,0,6654.34,0,0,6654.34,129.434047806,36.100114576
309,(주)세븐스타컴퍼니,김동진,경상북도 칠곡군 왜관읍 현대로 93,0,0,0,0,0,127.8,0,0,127.8,128.431607937,35.986466243

In [38]:
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Polygon
from shapely.geometry import Point

points_geometry_warehouse = gpd.GeoDataFrame(geometry=[Point(xy) for xy in zip(gb_df['경도'], gb_df['위도'])], crs="EPSG:4326")
# points_geometry_warehouse.to_file("warehouse_coord.geojson", driver='GeoJSON')
# points_geometry_warehouse.to_csv("warehouse_coord.csv", index = False)
points_geometry_warehouse

                       geometry
0    POINT (128.45064 35.95743)
1    POINT (128.45064 35.95743)
2    POINT (128.52060 36.04410)
3    POINT (128.41195 35.96454)
4    POINT (128.50732 35.83935)
..                          ...
305  POINT (128.44499 35.95669)
306  POINT (128.44274 35.95426)
307  POINT (128.44986 35.96182)
308  POINT (129.43405 36.10011)
309  POINT (128.43161 35.98647)

[310 rows x 1 columns]

In [41]:
from shapely import wkt
points_df = pd.read_csv("warehouse_coord.csv")
points_df['geometry'] = points_df['geometry'].apply(wkt.loads)
points = gpd.GeoDataFrame(points_df, crs = "EPSG:4326")

In [42]:
points

                       geometry
0    POINT (128.45064 35.95743)
1    POINT (128.45064 35.95743)
2    POINT (128.52060 36.04410)
3    POINT (128.41195 35.96454)
4    POINT (128.50732 35.83935)
..                          ...
305  POINT (128.44499 35.95669)
306  POINT (128.44274 35.95426)
307  POINT (128.44986 35.96182)
308  POINT (129.43405 36.10011)
309  POINT (128.43161 35.98647)

[310 rows x 1 columns]